@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #008952;
    text-align: center
}

.container-fluid {
    padding: 0px 20px;
}

section {
    width: 100%;
    max-width: 414px;
    margin: 0px auto;
    padding: 20px 0px
}

h1,
h3 {
    font-weight: 700;
    margin: 0px;
    padding: 0px
}

p {
    font-weight: 400;
    margin: 0px;
    padding: 0px
}

.light {
    font-weight: 300
}

.actionButton {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    margin: 0px auto
}

#logo {
    width: 100%;
    margin: 0px auto;
    margin-top: -16px;
    padding: 20px 0px
}

#logo .brandLogo {
    max-width: 200px
}

#offerText {
    padding: 20px 0px;
    width: 100% !important
}

#offerText h1 {
    font-size: 20px
}

@media screen and (min-width: 375px) {
    #offerText h1 {
        font-size: 24px
    }
}

#offerText p {
    font-size: 10px;
    padding-top: 20px;
}

.mainLegal p {
    font-size: 10px;
    font-weight: 300
}

#init_redeem {
    padding: 0;
    margin: 0px auto
}

.expirationDate {
    padding: 10px 0px;
    font-size: 10px;
    color: #58595B
}

#feedback button {
    text-decoration: none;
    color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-weight: 700
}

#feedback #Likeofferfeedback {
    background-color: #8DC63F;
    transition: all 0.35s ease
}

#feedback #Likeofferfeedback:hover {
    background-color: #709E40
}

#feedback #DisLikeofferfeedback {
    background-color: #F2665E;
    transition: all 0.35s ease
}

#feedback #DisLikeofferfeedback:hover {
    background-color: #CE5750
}

.legalWarning p {
    font-size: 12px;
    font-weight: 300
}

#dialog-redeem, #dialog-error, #dialog-expired {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 75%;
    margin: 0px auto
}

#dialog-redeem .modal-header, #dialog-error .modal-header, #dialog-expired .modal-header {
    padding: 10px 20px;
    border-bottom: none;
    color: #f4f4f4;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-transform: uppercase
}

#dialog-redeem .modal-title, #dialog-error .modal-title, #dialog-expired .modal-title {
    font-weight: 700;
    font-size: 24px
}

#dialog-redeem .modal-body, #dialog-error .modal-body, #dialog-expired .modal-body {
    width: 75%;
    margin: 0px auto
}

#dialog-redeem .modal-body p, #dialog-error .modal-body p, #dialog-expired .modal-body p {
    margin-bottom: 20px
}

#dialog-redeem .modal-body .button, #dialog-error .modal-body .button, #dialog-expired .modal-body .button {
    display: block;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    color: #f4f4f4;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px
}

#dialog-redeem .modal-body .button:hover, #dialog-error .modal-body .button:hover, #dialog-expired .modal-body .button:hover {
    text-decoration: none
}

#expirationTimerSection {
    padding: 40px 0
}

#expirationTimerSection #countdownText {
    text-align: left
}

#expirationTimerSection #countdownText .verticalCenterWrapper {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

#expirationTimerSection #countdownText .verticalCenterWrapper h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px
}

@media screen and (min-width: 375px) {
    #expirationTimerSection #countdownText .verticalCenterWrapper h3 {
        font-size: 20px
    }
}

@media screen and (min-width: 414px) {
    #expirationTimerSection #countdownText .verticalCenterWrapper h3 {
        font-size: 22px
    }
}

#expirationTimerSection #countdownText .verticalCenterWrapper p {
    font-size: 12px;
    font-weight: 300
}

#expirationTimerSection #countdownTimer .c-container {
    position: relative;
    width: 90%;
    margin: 0px auto
}

#expirationTimerSection #countdownTimer .c-container .c-text {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 32px;
    line-height: 24px;
    top: 50%;
    margin-top: -15px;
    font-weight: 300
}

#expirationTimerSection #countdownTimer .c-container svg {
    width: 100%
}

#init_refer {
    margin-bottom: 40px
}

#redeemFinePrint p {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
}

#progressText h3 {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px
}

#progressText h3 span {
    font-weight: 700
}

#shareButtons .row {
    margin: 0px auto;
    padding: 0px;
    text-align: center
}

#shareButtons .centered {
    float: none;
    margin: 0 auto
}

#shareButtons .button {
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
    padding: 5px 20px;
    text-decoration: none;
    width: 70px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    margin: 0px auto
}

#shareButtons #facebook .button {
    background-color: #3B5998;
    background-image: url("https://i.imgur.com/6LBKUKf.png");
    background-repeat: no-repeat;
    background-position: 15% 45%;
    background-size: 6px;
    padding-left: 27px;
    display: block
}

#shareButtons #twitter .button {
    background-color: #55acee;
    background-image: url("https://i.imgur.com/DzbV4JZ.png");
    background-repeat: no-repeat;
    background-position: 12% 50%;
    background-size: 15px;
    padding-left: 30px;
    display: block
}

#shareButtons #sms .button {
    background-color: #60B561;
    background-image: url("https://i.imgur.com/q8JjQLf.png");
    background-repeat: no-repeat;
    background-position: 20% 50%;
    background-size: 15px;
    padding-left: 35px;
    display: block
}

#progressBar {
    padding: 0px;
    min-height: 35px;
    float: center;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 40px;
    width: 100%;
    max-width: 375px;
    border: 2px solid;
    border-radius: 25px;
    background: none;
    color: #fff
}

#progressBar .progress {
    float: left;
    min-height: 30px;
    border: 3px solid;
    text-align: center;
    margin: 0px auto;
    width: 40%;
    border-radius: 25px;
    font-size: 14px;
    line-height: 24px
}

#returnToOffer {
    margin-bottom: 40px
}

#raf_legal {
    font-size: 10px
}

#nolongervalid h2 {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 60px;
}